/* VARIABLES */

// Typography
$fontFamily:           'Sen', sans-serif;

// Colors
$bgColor:               #FF5F6D;
$bgSecondColor:         #FFC371;
$hoverColor:            #8E2DE2;
$secondHoverColor:      #9f00e0;
$fontColor:             #370c5d;
$black:                 #000;
$white:                 #fff;