@import '_root';

.App {
    @include gradient($bgSecondColor, $bgColor);
    font-family: $fontFamily;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white;

    &-header {
        h1 {
            align-items: center;
            display: flex;
            justify-content: center;

            @include below(md) {
                flex-direction: column-reverse;
            }
        }
    }

    &-logo {
        height: 12.5vmin;
        pointer-events: none;

        @include below(sm) {
            height: 25vmin;
        }

    }

    h4 {
        margin: 1.5rem 0 0;
        font-size: 20px;
    }
}
